@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styling */
body {
  @apply bg-white text-gray-900;
}

.dark body {
  @apply bg-gray-900 text-white;
}

/* Spinner + Utility Animations */
@layer utilities {
  @keyframes shimmer {
    0% {
      opacity: 0;
    }
    30%, 70% {
      opacity: 1;
    }
    100% {
      transform: translateX(150%);
      opacity: 0;
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes fade {
    from {
      filter: blur(3px);
      opacity: 0;
    }
    to {
      filter: blur(0);
      opacity: 1;
    }
  }

  @keyframes slide {
    from {
      translate: var(--slide-offset);
    }
    to {
      translate: 0;
    }
  }

  @keyframes via-blur {
    30% {
      filter: blur(3px);
    }
  }

  .spinner {
    background: conic-gradient(transparent 10deg, white, transparent 320deg);
    --border-size: 3px;
    mask-image: radial-gradient(
      closest-side,
      transparent calc(100% - var(--border-size)),
      white calc(100% - var(--border-size))
    );
    opacity: 0;
    animation:
      fade 500ms 150ms forwards,
      rotate 1s linear infinite;
  }
}
